.main_first_block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_block {
    line-height: 1.5;
    text-align: left;
    width:500px;
    margin-left:200px;
}

.text_block>h3 {
    text-transform: capitalize;
    font-size: 40px;
    line-height: 12px;
}

.text_block>h4 {
    margin: 35px 0;
}

.text_block>h4>span.header-3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    font-family: "Roboto Condensed", sans-serif;
}

.text_block>p {
    font-weight: 300;
    margin-bottom: 40px;
}

.black_btn {
    border-color:#151515;
    color:#151515;
}

.black_btn:hover {
    color:#fff;
    background-color:#151515;
}

.box {
    background-image:url('../../images/bgs/slider-9.png') ;
    width: 500px;
    height: 400px;
    padding: 1%;
    background-position: center;
}

.inner_box {
    background-color:#fff;
    height:100%;
    width:100%;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.3;
}

.inner_box h2 {
    font-size: 150px;
    font-weight: bold;
    
}

.inner_box p {
    font-weight: 400;
}